{{ define "main" }}

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="about-me">
          <!-- <img class="actor mb-3" src="{{ .Site.Params.authorThumb | absURL}}" alt="image"> -->
          <h3>Hi I Am {{ .Site.Params.author }}</h3>
          <p>{{ .Site.Data.about.description }} </p>
          <p>
            My name is Ofelia and I’m 23 years old. I’m in my senior year of mechanical engineering at the University of
            Texas at Rio Grande Valley. I was born and raised on the border of Mexico, and most of my family and friends
            are from over there as well. I came to the US for college and I’ve been here ever since. I spend most of my
            time at school, working on my senior design project, or doing my never-ending homework. But when I have free
            time, I like to spend time with my siblings or my friends or watching movies/shows. Lately, I’ve been trying
            to get back to reading but it has been hard as I spend too much time on TikTok or Instagram. I just quit
            TikTok and I’m trying to slowly get rid of Instagram, but it feels impossible being in such a connected
            community and because I know most of my friends have it and I don’t want to feel left out. I also like
            spending time outside when I can, I like to go to the park near my house that has a lake and just watch the
            sunset with my parents when they visit or my siblings, when they want to come with me.
          </p>
          <p>
            A big part of my life has recently become being the president of the Society of Women Engineers (SWE), as
            I’ve made some good friends there, but also because it has made me get involved in different events at my
            school and I feel more tuned in with my goals and my community. It has also made me find sort of a purpose
            for why I chose engineering and why I think I can make a difference, even if it’s a very small one. I’m in
            engineering, so I like challenge, and solving problems (or running away from them), but having such a
            troubled schedule with my senior design project, doing research, working at the learning center, attending
            events/meetings for SWE, applying for jobs, or finding time to meet with my friends and family, has made it
            hard to find something that clears my mind a little.
          </p>
          <p>
            So recently, I reconnected with one of my childhood hobbies (baking), and it has been a very pleasing
            activity. To find time to do something that I love, even if having a thousand things to do or think about,
            has been a form of self-care that I didn’t think about before. Mostly because I tend to obsess or overthink
            about my classes or projects or any current events happening in my life, and I become anxious about the
            future and forget to enjoy my present a little. Baking has been a grounding and unwinding activity, and
            being someone that doesn’t just “chill” or “go with the flow”, it has been extremely helpful. It’s
            interesting to think that we can have just eggs and flour, and make something as beautiful as a cake, or
            bread, or a cookie. I think that just like cookie dough, we all go through a process of change in our lives,
            we just have to find the right way of mixing our ingredients, the right environment, and make a great cookie
            out of our lives.
          </p>

          <div class="banner">
            <div class="about-shape-right-top">
              <img src={{ "images/about/blob1.svg" | absURL }} alt="svg">
            </div>
            <div class="about-shape-left-bottom">
              <img src={{ "images/about/blob1.svg" | absURL }} alt="svg">
            </div>
            <img src="{{ .Site.Data.about.featureImage | absURL }}" alt="banner">
          </div>
          <h3>{{ .Site.Data.about.bioTitle }}</h3>
          <p> {{ .Site.Data.about.bioDescription | markdownify }}</p>
          </p>
          <h3>I am a social person</h3>
          <ul class="soicel-icon">
            <li> <a href="https://www.facebook.com/{{ .Site.Params.facebookUsername }}"><i
                  class="fa fa-facebook"></i></a></li>
            <li> <a href="https://www.facebook.com/{{ .Site.Params.twitterUsername }}"><i class="fa fa-twitter"></i></a>
            </li>
            <li> <a href="https://www.facebook.com/{{ .Site.Params.instaUsername }}"><i class="fa fa-instagram"></i></a>
            </li>
            <li><a href="https://www.facebook.com/{{ .Site.Params.linkedinUsername }}"><i
                  class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}